<h1>Creat New Account Here</h1>

<form method="POST" action="/views/auth/signup.ejs">
    <div>
        <label>First Name</label>
        <input type="text" name="firstName">
    </div>

    <div>
        <label>Last Name</label>
        <input type="text" name="lastName">
    </div>

    <div>
        <label>Email Adress</label>
        <input type="email" name="emailAdress">
    </div>

    <dive>
        <label>Password</label>
        <input type="password" name="password">
    </dive>
    
    <input type="submit">
</form>