<h1>Sign In to your Account Here</h1>

<form method="POST" action="/views/auth/signin.ejs">
    <div>
        <label>Email Adress</label>
        <input type="email" name="emailAdress">
    </div>

    <div>
        <label>Password</label>
        <input type="submit" name="Password">
    </div>
    
    <button type="submit">Submit</button>
</form>

<a href="/user/changepassword">Forgot Password</a>