<h1>Change Your Password</h1>

<form action="/user/changepassword" method="POST">
    <div>
        <label>New Password</label>
        <input type="password" name="password" required>
    </div>

    <div>
        <label>Confirm Password</label>
        <input type="password" name="confirm_password" reqiured>
    </div>
    <p id="message"></p>

    <button type="submit">Submit</button>
</form>