<h1>Change Your Password</h1>

<form action="/user/changepassword" method="POST">
    <div>
        <label>New Password</label>
        <input type="password" name="newPassword" required>
    </div>

    <div>
        <label>Confirm Password</label>
        <input type="password" name="confirmPassword" reqiured>
    </div>

    <button type="submit">Submit</button>
</form>