<h1>Changing Password</h1>

 <!-- // not sure about the action -->
<form action="/views/user/edit/changepassword" method="POST">
    <div>
        <label>New Password</label>
        <input type="text">
    </div>

    <div>
        <label>Confirm Password</label>
        <input type="text">
    </div>

    <button type="submit">Submit</button>
</form>