
    <div>
       <% user.forEach(function(user){ %>
        <label>firstName</label>
        <h4> <%= user.firstName %></h4>
        <label>lastName</label>
        <h4><%= user.lastName %></h4>
       <% })%>
    </div>

   

    <button type="submit">Changing Password</button>
    <a href="user/edit">edit</a>