<h1>User Information</h1>

<form method="POST" action="/views/layout.ejs">
    <div>
        <label>firstName</label>
        <input type="text" name="firstName" value="<%= first.Name %>">
    </div>

    <div>
        <label>lastName</label>
        <input type="text" name="lastName" value="<%= last.Name %>">
    </div>

    <div>
        <label>emailAdress</label>
        <input type="text" name="email" value="<%= email.Adress %>">
    </div>

    <button type="submit">Changing Password</button>
</form>