


<div>
    <ul class="chartseat">
        <li>
            <div class="seat"></div>
            <small>N/A</small>
        </li>

        <li>
            <div class="not selected"></div>
            <small>got selected</small>
        </li>

        <li>
            <div class="taken"></div>
            <small>taken</small>
        </li>


    </ul>
</div>

<div class="container">
    <div class="Show Screen"
</div>



      
    <!-- <label for="Seats">Choose a Seat:</label>
<select id="Seat" name="Seats">
<option value="ABCDE">First Row</option>
<option value="FGHIJ">Second Row</option>
<option value="KLMNO" >Third Row</option>
<option value="PQRST">Forth Row</option>
<option value="UVWXYZ">Fifth Row</option>
</select> -->

<div>
<div class="container1"> 
<div class="seatA">A</div>
<div class="seatB">B</div>
<div class="seatC">C</div>
<div class="seatD">D</div>
<div class="seatE">E</div>
<div class="seatF">F</div>
<div class="seatG">G</div>
<div class="seatH">H</div>
<div class="seatI">I</div>
<div class="seatJ">J</div>
</div>


<div class="container2">
<div class="seatK">K</div>
<div class="seatL">L</div>
<div class="seatM">M</div>
<div class="seatN">N</div>
<div class="seatO">O</div>
<div class="seatP">P</div>
<div class="seatQ">Q</div>
<div class="seatR">R</div>
<div class="seatS">S</div>
<div class="seatT">T</div>
</div>

<div class="container3">
    <div class="seatU">U</div>
     <div class="seatV">V</div>
     <div class="seatW">W</div>
     <div class="seatX">X</div>
     <div class="seatY">Y</div>
     <div class="seatZ">Z</div>
     
     </div>

     <p class="text">the seat is selected<span id="count">0</span>seats price $<span id="total"></span></p>

     <button type="button">Book your Movie</button>


