

<form method="POST" action="/book/add">
<div>

<label> movie name </label>
<input type="text" name="name"> 
</div>

<div>
<label >Genere</label>
<input type="text" name="genre">
</div>

<div>
<label> movie description</label>
<input type="text" name="description">
</div>

<div>
<label>start date </label>
<input type="date" name="date" >
</div>


<div>
<label>start time </label>
<input type="time" name="time"  >
</div>


<div>
    <label>Format 2D/3D</label>
    <select class="Format" name="Formats">
        <option value="3D">2D</option>
        <option value="2D">3D</option>
        
      </select>
</div>



</form>