<h3>Discriptions</h3>

<div class="Divergent">
    <p>Divergent: In a world divided by factions based on virtues, Tris learns she's Divergent and won't fit in.
         When she discovers a plot to destroy Divergents, Tris and the mysterious Four must find out what makes Divergents dangerous before it's too late.</p>
         
         <p>genre: Action, Adventure, Mystry </p>
</div>

<div class="Train to Busan">

    <p>Train to Busan: While a zombie virus breaks out in South Korea, 
        passengers struggle to survive on the train from Seoul to Busan.</p>

        <p>genre: Action, Horror, Thriller </p>
</div>

<div class="Three Idiots">
    <p>Three Idiots: Two friends are searching for their long lost companion. They revisit their college days and recall the memories of their friend who inspired them to think differently, 
        even as the rest of the world called them "idiots".</p>
         
         <p>genre: Drama, Comedy </p>
</div>

<div class="Mario">
    <p>Mario: A plumber named Mario travels through an underground labyrinth with his brother, Luigi, trying to save a captured princess.</p>
         
         <p>genre: Animation, Adventure, Comedy </p>
</div>

<div class="Whisper of The Heart">
    <p>Whisper of The Heart: A love story between a girl who loves reading books, and a boy who has previously 
        checked out all of the library books she chooses.</p>
         
         <p>genre: Animation, Drama, Family </p>
</div>

<div class="Home Alone">
    <p>Home Alone: An eight-year-old troublemaker, mistakenly left home alone,
         must defend his home against a pair of burglars on Christmas eve.</p>
         
         <p>genre: Comedy, Family </p>
</div>




