<h3>movie Index</h3>

<!-- 
title: {
    type: String,
    required: true, 
},
 picture:{
    type:String,
    required:true
 },
  description:{ type:String },
  genre:{type:String ,required:true},
  duration:{type:Number},
  date: {type:Date},
  time:{type: String} -->


<!-- this page to display a table of all movies for the admin to edit or delete -->
<table>
    <tr>
        <th>title</th>
        <th>picture</th>
        <th>discription</th>
        <th>Genre</th>
        <th>duration</th>
        <th>date</th>
        <th>time</th>
    </tr>


</table>