<!-- Seats  -->

<!-- <div id="Seats">
    <div class="seat"></div> <div class="">Available</div>
    <div class="seat"></div> <div class="">Taken</div>
    <div class="seat"></div> <div class="">Selected</div>

</div>

<button id="save" onclick="reserve.save()">Reserve Seats</button> -->