<form action="/user/forgotpassword" method="POST">
    <div>
        <label>Email Address</label>
        <input type="email" name="emailAddress" required>
    </div>
    <button type="submit">Submit</button>
</form>